# Pandas Append Function
Pandas append function is used to append rows of 
other dataframe to the end of the given dataframe,
returning a new dataframe object.

In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'A':[1,2,3],
                 'B':[10,20,30]})
df2=pd.DataFrame({'A':[4,5,6],
                 'D':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   D
0  4  40
1  5  50
2  6  60

In [3]:
df1.append(df2,ignore_index=True)

C:\Users\lalit\AppData\Local\Temp\ipykernel_9780\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

   A     B     D
0  1  10.0   NaN
1  2  20.0   NaN
2  3  30.0   NaN
3  4   NaN  40.0
4  5   NaN  50.0
5  6   NaN  60.0

In [4]:
df3=pd.DataFrame({'A':[1,2,3],
                 'B':[10,20,30]})
df4=pd.DataFrame({'C':[4,5,6],
                 'B':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   D
0  4  40
1  5  50
2  6  60

In [5]:
df3.append(df4,ignore_index=True,sort=False)

C:\Users\lalit\AppData\Local\Temp\ipykernel_9780\891872311.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3.append(df4,ignore_index=True,sort=False)

     A   B    C
0  1.0  10  NaN
1  2.0  20  NaN
2  3.0  30  NaN
3  NaN  40  4.0
4  NaN  50  5.0
5  NaN  60  6.0