# Pandas loc & iloc

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Student_Results1.csv')
df

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
0,1001,A,10,2,9,3,5,50
1,1002,B,10,6,8,2,0,80
2,1003,A,10,3,8,2,4,60
3,1004,C,11,0,10,1,5,45
4,1005,C,11,4,7,2,0,75

In [3]:
df.loc[0]

Student ID      1001
Section            A
Class             10
Study hrs          2
Sleeping hrs       9
Social Media       3
Mobile Game        5
Percentage        50
Name: 0, dtype: object

In [4]:
df.loc[4]

Student ID      1005
Section            C
Class             11
Study hrs          4
Sleeping hrs       7
Social Media       2
Mobile Game        0
Percentage        75
Name: 4, dtype: object

In [5]:
df.loc[[0,1]]

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
0,1001,A,10,2,9,3,5,50
1,1002,B,10,6,8,2,0,80

In [6]:
df.loc[[2,4]]

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
2,1003,A,10,3,8,2,4,60
4,1005,C,11,4,7,2,0,75

In [7]:
df.loc[4,'Class']

11

In [8]:
df.loc[0:3,'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [9]:
df.loc[0:2,'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [10]:
df.loc[df['Class']<11]

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
0,1001,A,10,2,9,3,5,50
1,1002,B,10,6,8,2,0,80
2,1003,A,10,3,8,2,4,60

In [11]:
df.loc[df['Class']<11,['Percentage']]

   Percentage
0          50
1          80
2          60

# integer location-based indexing dataframe.ioc[]

In [12]:
# integer location-based indexing dataframe.ioc[]

In [13]:
df.iloc[0]

Student ID      1001
Section            A
Class             10
Study hrs          2
Sleeping hrs       9
Social Media       3
Mobile Game        5
Percentage        50
Name: 0, dtype: object

In [14]:
df.iloc[[0]]

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
0,1001,A,10,2,9,3,5,50

In [15]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [16]:
df.iloc[[0,1]]

,Student ID,Section,Class,Study hrs,Sleeping hrs,Social Media,Mobile Game,Percentage
0,1001,A,10,2,9,3,5,50
1,1002,B,10,6,8,2,0,80